@font-face {
    font-family: 'Lota Grotesque Alt 1';
    src: url('https://charityluevano.github.io/osh-ui-fonts/fonts/lota-grotesque-alt-1-thin.otf')
        format('opentype');
    font-weight: 100;
    font-style: normal;
    descent-override: 27%;
}

@font-face {
    font-family: 'Lota Grotesque Alt 1';
    src: url('https://charityluevano.github.io/osh-ui-fonts/fonts/lota-grotesque-alt-1-thin-italic.otf')
        format('opentype');
    font-weight: 100;
    font-style: italic;
    descent-override: 27%;
}

@font-face {
    font-family: 'Lota Grotesque Alt 1';
    src: url('https://charityluevano.github.io/osh-ui-fonts/fonts/lota-grotesque-alt-1-extralight.otf')
        format('opentype');
    font-weight: 200;
    font-style: normal;
    descent-override: 27%;
}

@font-face {
    font-family: 'Lota Grotesque Alt 1';
    src: url('https://charityluevano.github.io/osh-ui-fonts/fonts/lota-grotesque-alt-1-extralight-italic.otf')
        format('opentype');
    font-weight: 200;
    font-style: italic;
    descent-override: 27%;
}

@font-face {
    font-family: 'Lota Grotesque Alt 1';
    src: url('https://charityluevano.github.io/osh-ui-fonts/fonts/lota-grotesque-alt-1-light.otf')
        format('opentype');
    font-weight: 300;
    font-style: normal;
    descent-override: 27%;
}

@font-face {
    font-family: 'Lota Grotesque Alt 1';
    src: url('https://charityluevano.github.io/osh-ui-fonts/fonts/lota-grotesque-alt-1-light-italic.otf')
        format('opentype');
    font-weight: 300;
    font-style: italic;
    descent-override: 27%;
}

@font-face {
    font-family: 'Lota Grotesque Alt 1';
    src: url('https://charityluevano.github.io/osh-ui-fonts/fonts/lota-grotesque-alt-1-regular.otf')
        format('opentype');
    font-weight: 400;
    font-style: normal;
    descent-override: 27%;
}

@font-face {
    font-family: 'Lota Grotesque Alt 1';
    src: url('https://charityluevano.github.io/osh-ui-fonts/fonts/lota-grotesque-alt-1-regular-italic.otf')
        format('opentype');
    font-weight: 400;
    font-style: italic;
    descent-override: 27%;
}

@font-face {
    font-family: 'Lota Grotesque Alt 1';
    src: url('https://charityluevano.github.io/osh-ui-fonts/fonts/lota-grotesque-alt-1-semibold.otf')
        format('opentype');
    font-weight: 600;
    font-style: normal;
    descent-override: 27%;
}

@font-face {
    font-family: 'Lota Grotesque Alt 1';
    src: url('https://charityluevano.github.io/osh-ui-fonts/fonts/lota-grotesque-alt-1-semibold-italic.otf')
        format('opentype');
    font-weight: 600;
    font-style: italic;
    descent-override: 27%;
}

@font-face {
    font-family: 'Lota Grotesque Alt 1';
    src: url('https://charityluevano.github.io/osh-ui-fonts/fonts/lota-grotesque-alt-1-bold.otf')
        format('opentype');
    font-weight: 700;
    font-style: normal;
    descent-override: 27%;
}

@font-face {
    font-family: 'Lota Grotesque Alt 1';
    src: url('https://charityluevano.github.io/osh-ui-fonts/fonts/lota-grotesque-alt-1-bold-italic.otf')
        format('opentype');
    font-weight: 700;
    font-style: italic;
    descent-override: 27%;
}

@font-face {
    font-family: 'Lota Grotesque Alt 1';
    src: url('https://charityluevano.github.io/osh-ui-fonts/fonts/lota-grotesque-alt-1-black.otf')
        format('opentype');
    font-weight: 800;
    font-style: normal;
    descent-override: 27%;
}

@font-face {
    font-family: 'Lota Grotesque Alt 1';
    src: url('https://charityluevano.github.io/osh-ui-fonts/fonts/lota-grotesque-alt-1-black-italic.otf')
        format('opentype');
    font-weight: 800;
    font-style: italic;
    descent-override: 27%;
}
